<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cricle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C70F6D21D5AB8A100B0F3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C70F6EB1D5AB8A100B0F3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C70F6F61D5AB8A200B0F3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
